aws_region     = "us-east-1"
project_name   = "mlops-end-2-end"
vpc_id         = "vpc-0123456789abcdef0"
subnet_ids     = ["subnet-0123456789abcdef0", "subnet-0fedcba9876543210"]
assign_public_ip = true
image_tag      = "latest"
task_cpu       = 2048
task_memory    = 8192